
label.error{
	display:block;
	color:#cc0000;
	margin-top:10px;
}
#errorsLink{
	display:none;
}
div.ui-field-contain.ui-body.ui-br {
	padding:10px;
}
#search {
	padding-bottom: 0;
	padding-top: 0;
}
div#cta {
	width:320px;
	margin: 0 auto;
	padding-top:5px;

}
div.ui-content.ui-body-d img {
	
	width:300px;
}
div#logoAbout {
	width:200px;
	margin: 0 auto;
	padding:0;

}
div.ui-corner-bottom.ui-content.ui-body-d ul {
	list-style: none;
}
div.ui-corner-bottom.ui-content.ui-body-d li {
	color:#cc0000;
	margin-bottom:5px;
}
div#search.ui-content.ui-body-d {
	padding:10px 20px;
	margin-bottom:-15px;
}
/*div.ui-btn-inner.ui-li {
	height:52px;
}*/
#mainBtn {
	height:52px;
}
form.ui-listview-filter.ui-bar-c.ui-listview-filter-inset {
	padding:5px 5px 5px 5px;
}
label.ui-input-text span, label.select span{
	color:#b3b3b3;
	font-size: 13px;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
	min-height: 0;
}
div.ui-content.ui-body-d , div.ui-content{
	background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 42%, rgba(82,129,170,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(42%,rgba(221,241,249,1)), color-stop(100%,rgba(82,129,170,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 42%,rgba(82,129,170,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 42%,rgba(82,129,170,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 42%,rgba(82,129,170,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 42%,rgba(82,129,170,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#5281aa',GradientType=0 ); /* IE6-9 */

}
div#cityHolder.ui-block-a, div#stateHolder.ui-block-b, div#zipHolder.ui-block-a, div#phoneHolder.ui-block-b {
	width:130px;
}
div#cityHolder.ui-block-a, div#zipHolder.ui-block-a {
	margin-right:10px;
}
div.ui-header.ui-bar-b img {
	display:block;
	margin: 0 auto;
	padding:2px;
}